.blog {
    height: 100vh;
    width: 100%;       
    padding: 20px;
    margin: 20px;
}

.blog h1 {
    height: 35px;
    background-color: blue;
    color: white;
    position: fixed;
    top: 0;
    width: 100%;
    text-align: center;
    margin: 0px;
}

.container {
    display: flex;           
    flex-direction: row;
    margin-top: 60px;        
    align-items: flex-start;
}

.articles {
    flex: 3;                 
    display: flex;
    flex-direction: column;  
    gap: 20px;
}

.main-content {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: flex-start; 
}

.side-bar {
    flex: 1;                 
    background-color: #eee;
    padding: 15px;
    height: 300vh;
    margin-left: 10px;
    
}

.main-content img {
    width: 100%;
    height: auto;
}

.main-content button {
    width: auto;             
    padding: 5px 10px;
    background-color:rgb(60, 60, 255);
    color: white;
    border-radius: 10px;
}

.blog a {
    text-decoration: none;
    padding: 10px;
}
.end footer {
    position: fixed;
    bottom: 0;
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
    margin: 0px;
    width: 100%;
}
