.grid-container {
  width: 1200px;
  padding: 10px;
}

.services {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(3, 1fr);
}



.service {
  border: 1px solid rgb(189, 189, 189);
  border-radius: 8px;
  text-align: center;
  background-color: #fff;
  box-shadow: 0 5px 8px rgba(0,0,0, 0.1);
  
}

@media (min-width: 1025px) and (max-width:1280px)  {
  .services {
     grid-template-columns: repeat(3, 1fr)
  }
}

@media (min-width: 481px) and (max-width:1024px)   {
  .services {
    grid-template-columns: repeat(2, 1fr);

  }
}

@media (max-width: 480px) {

  .services {
    grid-template-columns: 1fr;
  }
}

