block1 {
    background-color: red;
    padding: 20px  30px  20px  10px;
    margin-bottom: 10px;
}

#block2 {
    background-color: green;
    padding: 10px 20px;
    margin-bottom: 10px;
}

#block3 {
    background-color: blue;
    margin-top: 10px;
    padding: 10px;
}