
* {
  margin: 0;
  padding: 0;
}
.container {
  max-width: 1200px;
  margin: auto;
  padding: 20px;
  
}
img {
  width: 100%;
  height: auto;
}


.blogs {
  text-align: center;
  display: flex;
  gap: 20px;
  box-sizing: border-box;
  box-shadow: 5px;
}

@media only screen and (min-width: 1025px) {
    .blogs {
      
      display: flex;
      flex-wrap: wrap;
    }
}

@media only screen and (min-width: 481px) and (max-width: 1024px) {
  .blogs {
    
    display: flex;
    flex-wrap: wrap;
    
  }
}

@media only screen and (max-width: 480px) {
  .blogs {
    
    display: flex;
    flex-wrap: wrap;
  }
}

@media (max-width: 1024px) and (min-width: 641px) {
  .cards {
    flex: 1 1 calc(50% - 20px);
  }
}

@media (min-width:1025px) {
  .cards {
    flex: 1 1 calc(33.333% - 20px);
  }
}



