p  {
    background-color: blueviolet;font-size: 20px;
    color: white;
}

.fav-movies{
    color: blue; background-color: bisque;
}

#main {
    color: black; background-color: azure; font-size: xx-large;
}