.sticky-header1 {
    background-color: blanchedalmond;
    position: sticky;
    top: 0;
    padding: 5px;
    box-shadow: 0px 2px 2px;
}

.sticky-header2 {
    background-color: aquamarine;
    position: sticky;
    top: 0;
    padding: 5px;
    box-shadow: 0px  2px   2px;
}

.sticky-header3 {
    background-color: rgb(230, 215, 198);
    position: sticky;
    top: 0;
    padding: 5px;
    box-shadow: 0px 4px 4px;
}

.sticky-header4 {
    background-color: rgb(120, 247, 247);
    position: sticky;
    top: 0;
    box-shadow: 0px 2px 2px;
    padding: 5px;

}