#t1 {
    background-color: blueviolet; 
    color: beige;
}

#t2 {
    background-color: rgb(6, 77, 36);
    color: white;
}

#t3 {
    background-color: black;
    color: white;
}

h1 {
    background-color: rgb(13, 13, 63);
    color: bisque;
}