.profile-card img {
         width: 250px;
         position: relative;
         

         
  }

.user-info {
    position: absolute;
    bottom: 15px;
    padding: 15px;
    left: 50px;
    
}

body {
    background-color: rgb(11, 11, 65);
    color: white;
}


    
