* {
    padding: 0px;
    margin: 0px;
}

  
    

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
body {
    line-height: 1.5rem;
     font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  
}


.container {
    width: 1000px;
   /* display: flex; */
   margin-inline: auto;
   margin-top: 100px;
   box-sizing: border-box;
   
}
/* body {
    background-color: aqua;
} */

img  {
    width: 100%;
    
}


.section1 {

    padding: 50px;
    margin-top: 9rem;
    margin-left: 4rem;
    width: 100%;
    display: flex;
    justify-content: space-around;

    
}

.section1 .text h1 {
     padding: 10px;

}


.section1 img {
    
    height: auto;
      border: solid 5px black;
    border-radius: 140px 140px 20px 20px;
    margin-left: -20rem;
}
.shape {
    
    width: 20vw;
    margin-right: 200px;
     height: auto;
      border: solid 5px black;
    border-radius: 140px 140px 20px 20px;
    

}



.image-wrapper {
  position: relative; /* parent for absolute positioning */
  width: 400px;
  height: 450px;
}

/* Background image */
.bg-image {
    
  position: absolute;
  top: 0;
  right: 40px;       /* adjust sida Figma */
  width: 260px;
  border-radius: 140px 140px 20px 20px;
}

/* Foreground image */
.fg-image {
  position: absolute;
  bottom: 150px;
  right: -80px;
  width: 220px;
  border-radius: 120px 120px 16px 16px;
  box-shadow: 0 20px 40px rgba(0,0,0,0.15);
}

 p {
    display: flex;
    max-width: 25vw;
    padding: 15px;
    font-weight: 400;
    font-size: 1rem;

}


button {
    background-color: #252525;
    color: white;
    padding: 10px;
    border-radius: 4.00rem;
    font-weight: 400;
    font-size: 100px;
    width: 100px;
    font-size:11px ;
    line-height: 1rem;
     height: 2rem;
     cursor: pointer;
    
}


.section2 {
    display:flex ;
    margin-left: 100px;
    background-color: black;
    color: wheat;
    padding: 70px;
    border-radius: 2.50rem;
    margin-bottom: 50px;
    
}
