body {
    background-color: rgb(4, 4, 65);
    font-style: italic
}

#quote1 {
    background-color: white;
    margin: 10px;
    padding: 10px;
    border: 3px solid tomato
    
}

#quote2 {
    background-color: blueviolet;
    border: 4px dotted yellow;
    margin: 10px;
    padding: 10px;

}

#quote3 {
    background-color: green;
    border:  5px double white ;
    margin: 10px;
    padding: 10px;
}

#quote4 {
    background-color: brown;
    border: 6px dashed green ;
    margin: 10px;
    padding: 10px;
}