.content {
    display: flex;
    width: 100%;
    align-items: center;
    padding: 20px;
    
}


.right img {
    height: 500px;
    border: 2px solid  blanchedalmond;
}

.left p {
    color: rgb(32, 32, 34);
    padding: 20px;
    font-size: 20px;
    margin-top: -70px;
    
}
.buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 70px;
    width: 100%;
    
    
    
}
.btn-right {
    margin-left: -470px;
    
    padding: 10px;
    background-color: rgb(83, 83, 248);
    border: none;
    color: white;
}
.btn-left {
    margin-right: 300px;
    padding: 15px;
    background-color: rgb(64, 64, 245);
    border: none;
    color: white;
}
.header h1 {
    background-color: blue;
    display: flex;
    text-align: center;
}