.page1 {
    background-color: rgb(241, 233, 233);
    color:black;
    width: 100%;
    text-align: center;
    padding: 20px 20px;
    border: 3px solid rgb(163, 163, 163);
    box-sizing: border-box;
    
    
}
.page1 a {
    padding: 20px 20px;
    text-decoration: none;
    font-size: 20px;
    margin: 10px;
    
}

.home {
    color: white;
    background-color: rgb(22, 22, 133);
}
.about {
    color: white;
    background-color: rgb(16, 16, 129);
}
.contact {
    color: white;
    background-color: rgb(23, 23, 124);
}

.image {
    width: 300px;
    padding:10px ;
    border: 3px solid green;
    display: inline-block;
    
}

.image img {
    width: 100%;
  box-sizing: content-box;
  
 
 
    
}