body {
    background-color: aquamarine;
}

.feature-section {
    width: 500px;
    background-image: url(https://images.unsplash.com/photo-1555529733-0e670560f7e1?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTV8fGRpc2NvdW50fGVufDB8fDB8fHww);
    
    background-repeat: no-repeat;
    background-position-x: center;
    text-align: center;
    background-size: cover;
    padding: 20px;
    
}

.feature-section img {
    width: 100px;
    height: 100px;
    border-radius: 50px;

}

#p1 {
    text-decoration: line-through;
}
